body{
    background-color: rgb(236, 236, 236);
    margin: 0;
}

.encabezado{
    background-color: rgb(236, 118, 118);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.encabezado img{
    width: 50px;
}